h1{
    background-color: bisque;
}
h2{
    background-color: aquamarine;
}
#first{
    background-color:red;
}
#second{
    background-color: blueviolet;
}
.third{
    background-color:green;
}
ul{
    font-size: 10px;
}
li{
    font-size: em;
}
html{
    font-size: 10px;
}
h2{
    font-size: 2rem;
}
h2{
    font-size: 2vw;
}
ul{
    font-size: 3vh;
}
