.container{
    background-color: white;
    height: 600px;
    display: flex ;
    /*flex-direction: column;*/
    /*flex-direction: row;*/
    flex-direction: row;
    /*justify-content: center;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 150px;
    width: 150px;
    
}

.first{
    background-color: lightcoral;
    /*flex-grow: 1;*/
}

.second{
    background-color: aquamarine;
    /*flex-grow: 2;*/
}

.third{
    background-color: red;
    /*flex-grow: 3;*/
    /*align-self: flex-start;*/
}

.fourth{
    background-color: lightgreen;
    /*flex-grow: 4;*/
}