*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size:20px;
}


.container{
    padding:10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    background-color:aqua;
    height: 400px;
    width: 400px;
}


.first{
    background-color:orange;
}


.second{
    background-color:green;
}

.third{
    background-color:blue;
}

.fourth{
    background-color:red;
}

